<!-- This is used for layouting the project -->
<%- include("header") -%>
<h2>This is the about page of the project</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ad, est tempora facilis, nihil doloremque repellendus, a eos possimus ipsum accusantium neque omnis commodi praesentium.</p> 


<%- include("footer") -%>